//общее для всех инпутов, кнопок, селектов и textarea
%form_el_base{
  box-sizing: border-box;
  font: 14px/#{$scale-small} $font-family-second;

  border-radius: 2px;
  padding: 15px 30px;

  border: 1px solid $color-gray-2;

  color: $color-gray-0;

  @extend %link_noline;
  @extend %inline-block;


  &::placeholder {
    color: $color-gray-1;
  }

  &:focus{
  	border-color: $color-gray-1;

  	&::placeholder {
	    color: $color-gray-2;
	  }
  }
  
}

%inp_block{
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: $vertical-rythm / 2;
}

input, textarea{
	@extend %form_el_base;

	&.err{
		border-color: $color-red;
	}
}

textarea{
	height: 150px;
}

.btn-primary, input[type='submit']{
	@extend %form_el_base;
	background-color: $color-red;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border: 0;
	cursor: pointer;


	&:hover{
		color: #fff;
		background-color: saturate($color-red, 5%);
	}

	&[disabled]{
		background-color: $color-gray-2;
		cursor: default;
	}

	&.confirmed{
		background-color: $color-green;
	}
}

.inp-block{
	@extend %inp_block;
}

.wrap__inp_block{
	display: block;
	margin-bottom: $vertical-rythm;

	.inp-block{
		margin-bottom: 5px;
	}
}

.msg{
	font: 12px/#{$scale-small} $font-family-second;
	padding-left: 30px;
	padding-right: 30px;

	&.err{
		color: $color-red;
	}

	&.ok{
		color: $color-green;
	}
}