/*======== HEADER VARIABLES & MIXINS & EXTENDS =========*/
$animate-delay: 1s;
$animate-time: 1.2s;



/*======== HEADER BASIC =========*/

/*------- BANNERS --------*/

html, body, #scrn-1, #banner{
  position: relative;
  height: 100%;
}

#scrn-1{
  color: #fff;
  text-align: center;
  z-index: 1;
}

#banner {
  background-color: $color-blue-1;

  position: fixed;
  left: 0;
  right: 0;
}

#banner_content{
	padding: $vertical-rythm*4 0;

	.setw{
		max-width: 440px;
	}
}


/*------- Bouncing arrow --------*/
#banner_arrow{
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -25px;

	border-radius: 25px;
	overflow: hidden;

	&, a{
		width: 50px;
		height: 50px;
	}

	a{
		background-color: rgba($color-blue-2, .5);
		@extend %flex_center;

	  	backdrop-filter:  blur(5px); //for future supports of backdrop-filter
		-webkit-backdrop-filter:  blur(5px); //use new backdrop-filter where supported
  	}

	span{
		margin-top: 2px;
	}

	a{
		transition: .2s ease-out background-color;
		&:hover{
			background-color: rgba($color-blue-2, .6);
		}
	}

	$ArrowFadeDelay: $animate-time + $animate-delay + 1;
	$ArrowBounceDelay: $ArrowFadeDelay + 0.2;
	opacity: 0;
	animation:  .2s fadeIn $ArrowFadeDelay ease-out forwards, 1.3s bounce $ArrowBounceDelay ease-out;

	@include max_tablet(){
		display: none;
	}
}


/*------- Menu --------*/

%flex_menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

	flex-direction: row;
}

#header-nav{

	position: relative;
	z-index: 4;
	background-color: $color-blue-1;
	padding-top: 6px;
	padding-bottom: 7px;

	.setw, .flexmenu{
		@extend %flex_menu;
	}

	.sprite-logoSymbol, .header-menu_btn{
		flex-shrink: 0;
	}

	.header-nav_btn{
		@extend %flex_center;
		width: 48px;
		height: 48px;
		border-radius: 24px;
		border: 1px solid $color-gray-2;
	} //todo: fallback для flexbox
}

#header-nav_menu{
	background-color: $color-blue-1;

	&, ul {
		list-style: none;
		margin: 0;
	}

	font-size: 20px;
	font-weight: 300;

	@extend %flex_menu;
	min-width: 70%;

	li{
		position: relative;
		margin-bottom: 0;
	}

	a{
		@extend %flex_center;
		color: #fff;

		&:hover, &:active, &:focus{
			text-decoration: none;
		}
	}


	//submenus
	li.parent{

		& > a{
			&:after{
				content: "";
				@include get-sprite(arrowS);
				margin-left: 8px;
			}

			&.active:after{
				transition: .2s ease-out transform;
				transform: rotateX(180deg);
				margin-top: 1px;
			}
		}

	}

	ul{
		display: none;

		position: absolute;
		left: -30px;
		top: 44px;
		z-index: 10;

		background-color: $color-blue-1;
		font-size: 16px;
		border-top: 2px solid $color-blue-3;


		li{
			display: block;
			padding: 0 30px;

			a{
				display: block;
				padding: 15px 0;
				border-top: 1px solid $color-blue;
				text-align: left;
				white-space: nowrap;
			}

			&:first-child a{
				border-top: 0;
			}
		}
	}
}

#header-nav_menu__close{
	display: none;
}

#header-menuTogl{
	margin-right: 20px;
}







/*======== HEADER INDEX =========*/
.p-index {
	#banner{
		background-image: image-url($banner-index);
	}

	&#{$modernizr-nobackdropfilter}{

		#banner .banner_fore:before{
	  		background-image: image-url($banner-index);
		}
    		
	}

  &#{$modernizr-cssanimations}{
	  	#banner:after{
		    content: "";
		    position: absolute;
		    z-index: 0;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    background-color: $color-blue-1;
		    pointer-events: none;

		    animation: $animate-time fadeOut $animate-delay ease-out forwards;
		  }
	}


	&#{$modernizr-cssanimations}{
		&#{$modernizr-nobackdropfilter}{
	  	
			#banner .banner_fore:before{
				opacity: 0;
				$somedelay: $animate-delay + $animate-time - 0.2;
				animation: .3s fadeIn $somedelay ease-out forwards;
			}
		}
	
	}

}


#banner_logo{
	margin-bottom: $vertical-rythm * 2;

	img{
		display: block;
		width: 100%;
		max-width: 310px;
		margin: 0 auto;

		@include mobile(){
			max-width: 200px;
		}
	}
}

#banner_text{
	font-size: 20px;
	line-height: 1.2;
	font-weight: 300;
}






/*======== RESPONSIVE QUERIES =========*/

@include desktop_s(){
	#header-nav_menu{
		font-size: 18px;
	}
}

@include min_tablet(){
	#header-nav #header-menuTogl{
		display: none;
	}
}

@include max_tablet(){
	
	#header-nav_menu{
		display: none;

		position: absolute;
		top: 63px;
		left: 0;
		right: 0;
		z-index: 10;

		border-top: 2px solid $color-blue-3;
		font-size: 16px;
		font-weight: bold;


		li{
			display: block;
			padding: 0 30px;

			a{
				display: block;
				padding: 15px 0;
				border-top: 2px solid $color-blue;
				text-align: left;
				white-space: nowrap;
			}

			&:first-child a{
				border-top: 0;
			}
		}

		ul{
			display: block;
			position: relative;
			top: 0;
			left: 0;

			border-top: 0;
			border-left: 1px solid $color-blue;
			padding-left: 10px;
			margin-left: 10px;
			margin-bottom: 30px;

			font-weight: normal;

			li{
				padding: 0;

				a{
					border-top: 0;
				}
			}
		}

		li.parent  > a:after{ display: none; }
	}

	li#header-nav_menu__close{
		display: block;
		padding: 0;

		a{
			background-color: $color-blue;
			font: bold 14px/1.2 $font-family-second;
			text-align: center;
		}
	}

	#header-nav #header-menuTogl{
		display: flex;
	}

}