@charset "UTF-8";
@import "compass";

@import "utilities/my_reset";
@import "utilities/variables";
@import "utilities/media";
@import "utilities/extends";
@import "utilities/mixins";

@import "utilities/sprite";
@import "utilities/icons";

@import "utilities/text";
@import "utilities/plugins";

@import "blocks/animations";
@import "blocks/forms";
@import "blocks/header";
@import "blocks/footer";


/*======== MAIN SCSS VARIABLES & MIXINS & EXTENDS =========*/





/*======== BASIC STYLES =========*/

#oldiebrowser{
  padding: 30px;
  text-align: center;
  background-color: rgb(255, 103, 74);
  font-size: 16px;

  h1{
    margin-bottom: 30px;
  }

  &, h1{
    color: #fff;
  }
}

body {
  background-color: #fff;
  position: relative;
}

main[role="main"]{

  position: relative;
  background-color: #fff;
  z-index: 3;

  #main__container{
    background-color: #fff;
    padding: $vertical-rythm * 4 0 0;
  }

  &#main-index #main__container{
    padding-top: 0;
  }

}

.p-text{
  body{
    //for footer at bottom
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    height: auto;

  }

  main[role="main"]{
    padding-bottom: $vertical-rythm * 5;

    //for footer at bottom
    flex: 1;
  }
}


.marginBotFix{  //fixes margin-bottom for last elements
  &:after{
    content:"";
    height: 1px;
    display: block;
  }
}



/*------- BASIC STYLES - blocks display --------*/
.setw{ @extend %width_base; }
.fullw { width: 100%; }

.f-zoom{ @extend %floating-fix; }
.f-left { float: left; }
.f-right { float: right; }
.f-clearfix { @extend %clearfix; }

.clearfix{
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

.d-b{ 
  display: block;

  img{
    @extend %inline-block;
    max-width: 100%;
  }
}

.d-ib{ @extend %inline-block; }



.d-t{
  display: table;
  display: table !important;
}
.d-t_cell, .d-t_cell_t, .d-t_cell_m{ display: table-cell; }
.d-t_cell_t{ vertical-align: top; }
.d-t_cell_m{ vertical-align: middle; }

.contentimg img{
  @extend %imgblock;
}


.grid{
  @extend %inlineBlock-fix;
  margin-left: -4%;

  @include max_tablet(){
    margin-left: 0;
  }
}

.grid-4, .grid-3, .grid-2{
  @extend %inline-block;
  @extend %font_base;
  width: floor(100%/3) - 4;
  vertical-align: top;
  box-sizing: border-box;
  margin-left: 4%;


  @include mobile(){
    width: 100%;
    margin-left: 0;
    margin-bottom: $vertical-rythm * 2;
  }
}

.grid-2{
    width: floor(100%/2) - 4;

    @include mobile(){
      width: 100%;
    }
}

.grid-4{
    width: floor(100%/4) - 4;

    @include mobile(){
      width: 100%;
    }
}


.section{
  margin-bottom: $vertical-rythm * 4;

  // &:last-child{
  //   margin-bottom: 0;
  // }

  @include mobile(){
    margin-bottom: $vertical-rythm * 2;
  }
}



/*------- BASIC STYLES - margins --------*/




/*======== END BASIC STYLES =========*/





/*======== ELEMENTS =========*/


/*------- ELEMENTS - TABS --------*/
@mixin sprite-background-recalc($spritefile, $spritename, $percent){
  $sprite: map-get($icons, $spritename);
  width: ( map-get($sprite, width)/100 ) * $percent;
  height: ( map-get($sprite, height)/100 ) * $percent;
  background-size: (image-width($spritefile)/100 ) * $percent  (image-height($spritefile)/100 ) * $percent;
  background-position: (map-get($sprite, backgroundX)/100 ) * $percent  (map-get($sprite, backgroundY)/100 ) * $percent;
}

.tabs{
  overflow: hidden;

  .tab-line{
    border-bottom: 2px solid $color-lk;

    @include mobile(){
      border-bottom: 0;
    }


    .tab_tog{
      padding-bottom: $vertical-rythm;
      position: relative;
      top: 2px;

      .i-arrow{
        display: none;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -8px;
        font-size: 16px;
      }


      a{
        @extend %link_noline;

        &:hover{
          color: $color-lk_hover;
        }
      }

      @include min_tablet(){
        height: 160px;
      }

      @include tablet(){
        height: 180px;
      }

      @include mobile(){
        white-space: nowrap;
        padding-bottom: $vertical-rythm/2;
        margin-bottom: $vertical-rythm;
        border-bottom: 2px solid $color-lk;
        text-align: left;


        .tab_tog__text { padding-right: 110px; }

        .i-arrow{
          display: inline-block;
        }

        a{
          display: inline-block;
          vertical-align: middle;
          height: auto !important;
          margin-right: 20px;
          white-space: normal;

          &:last-child{
            margin-right: 0;
          }

          &:first-child{
            width: 90px;
            margin-right: 0;
            text-align: center;
          }
        }

        .sprite-circus{ @include sprite-background-recalc('sprite.png', 'circus', 50); }
        .sprite-houses{ @include sprite-background-recalc('sprite.png', 'houses', 50); }
        .sprite-factory{ @include sprite-background-recalc('sprite.png', 'factory', 50); }
        .sprite-music{ @include sprite-background-recalc('sprite.png', 'music', 50); }

      }
    }

    .grid-4{
      margin-bottom: 0;
    }
  }


  .tab_text{
    @extend %font_base;
    text-align: left;

    @include min_mobile(){
      display: none;
    }

    @include mobile(){
      margin-bottom: $vertical-rythm * 2;
      display: none;
    }
  }

  
  .tab-content{
    @include mobile(){
      display: none;
    }
  }

  .current{
    .tab_tog{
      &, a, a:hover { color: $color-red; }
      border-bottom: 2px solid $color-red;
    }

    @include mobile(){
      .tab_text{
        display: block;
      }

      .i-arrow{
        transition: .2s ease-out transform;
        transform: rotateX(180deg);
      }
    }
  }

}





/*------- ELEMENTS - TABLES --------*/
// table{
//   margin: $vertical-rythm*2 0;

//   td, th {
//     padding: 10px 0 10px 20px;
//     vertical-align: top;
   
//     &:first-child{
//       padding-left: 0;
//     }
//   }

//   th {
//     padding-bottom: 5px;
//     font-size: 15px;
//     line-height: $scale-small;
//     border-bottom: 1px solid $color-table-head;
//     padding-top: 0;
//     color: $color-table-border;
//   }

//   tbody{
//     tr{
//       &:last-child td{
//         border-bottom: 0;
//       }

//       &:hover{
//         td { 
//           border-color: $color-table-border_hov; 
//         }

//         &.table-header td { 
//           background-color: transparent; 
//           border-color: $color-table-head;
//         }
//       }
//     }

//     td{
//       border-bottom: 1px dashed $color-table-border;
//     }
//   }

//   th, tfoot td {
//     text-align: left;
//     font-family: $font-family-second;
//     font-weight: normal;
//   }


//   &.table-nohov{
//     tbody tr:hover{
//       td { 
//         border-color: $color-table-border; 
//         background-color: transparent;
//       }
//     }

//     .table-header:hover td{
//       border-color: $color-table-head;
//       background-color: transparent;
//     }
//   }

//   &.table-clear{
//     td, tr:hover td{
//       padding: 4px 0 4px 15px;
   
//       &:first-child{
//         padding-left: 0;
//       }

//       &, &:hover{
//         background: none;
//         border: none;
//       }
//     }
//   }

//   @include mobile(){
//     &.table-responsive{
//       thead{
//         display: none;
//       }

//       tbody{
//         td{
//           display: block;
//           width: 100%;
//           border: 0;
//           padding: 5px 0 0;

//           &:before {
//             content: attr(data-th) '\00a0';
//             font-weight: bold;
//             color: $color-table-head;
//             display: inline-block;
//             margin-bottom: 5px;
//             width: 170px;
//             // margin-right: 10px;
//             vertical-align: middle;
//           }
//         }

//         tr{
//           td:last-child { 
//             border-bottom: 1px solid $color-table-border;
//             padding-bottom: 5px;
//           }
//           &:last-child td:last-child { border-bottom: 0; }
//         }
//       }

//       .table-header td, tfoot td{
//         text-align: center;
//         &:before{
//           width: 0;
//         }
//       }
//     }
//   }
// }



/*--- FANCYBOX ---*/



/*--- Banner with foreground ---*/
.banner_back{
  @extend %banner_image;

  display: flex; //todo: выровнить .banner_fore внутри .banner_back на js для noflexbox
  align-items: center;
  justify-content: center;
}

#scrn-1 .banner_back{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.banner_fore{
  width: 100%;
  overflow: hidden;

  position: relative;
  z-index: 1;

  background-color: rgba($color-blue-2, .5);
  color: #fff;

  &:after{
    backdrop-filter:  blur(5px); //for future supports of backdrop-filter
    -webkit-backdrop-filter:  blur(5px); //use new backdrop-filter where supported for better looking

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .setw{
    position: relative;
    z-index: 2;
    max-width: 1000px;
    margin: 0 auto;
  
  }

  h1{
    color: #fff;
  }
}

#{$modernizr-nobackdropfilter}{

    .banner_fore:before{
      content:"";
      z-index: 0;

      @extend %banner_image;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      filter: blur(5px);
      -webkit-filter: blur(5px);
    }


    .banner_fore:after{
      background-color: rgba($color-blue-2, .5);
    }
        
}


/*Text columns with Icons (for index) */
.IconsTexts{
  text-align: center;
  margin-bottom: $vertical-rythm;

  .grid-3, .grid-4{
    font: normal 16px/#{$scale-small} $font-family-second;

    a{
      display: block;
      margin-top: $vertical-rythm/2;
    }

    a:first-child{
      height: 96px;
      margin-top: 0;
      overflow: hidden;

      span { position: relative; }
    }

    @include mobile(){

      a{
        display: block;
      }
    }
  }

  .grid{
    @include mobile(){
      margin-top: $vertical-rythm * 2;
    }
  }
}


/*Text columns with Font Icons (for services) */
.FontIconsTexts{
  text-align: center;

  .grid-3, .grid-4{
    margin-bottom: $vertical-rythm*2;
  }
}

.FontIconsTexts-title{
  margin-bottom: $vertical-rythm;

  *[class*='i-']{
    color: $color-blue-4;
    font-size: 70px;
  }
}

.FontIconsTexts-text{
  font-size: $font-base-size - 2;
  line-height: $scale-small;
}

@include mobile(){
  .FontIconsTexts{
    text-align: left;
  }

  .FontIconsTexts-title *[class*='i-'], .FontIconsTexts-title p{
    display: inline-block;
    vertical-align: middle;
  }

  .FontIconsTexts-title{
    margin-bottom: $vertical-rythm/2;
    white-space: nowrap;

    p{
      white-space: normal;
    }

    *[class*='i-']{
      width: 40px;
      font-size: 27px;
    }
  }
}


/*Gray blocks*/
.section-gray{
  background-color: $color-gray-4;
  padding-top: $vertical-rythm * 2;
  padding-bottom: $vertical-rythm * 2;

  position: relative;

  font-weight: bold;

  &:last-child{
    margin-bottom: 0;
  }

  &:after{
    content:"";
    @include get-sprite(smLogic_dec);

    position: absolute;
    right: 0;
    bottom: $vertical-rythm * 2;
    z-index: 0;
  }

  *{
    position: relative;
    z-index: 1;
  }

  ul{
    column-count: 3;
    margin: 0;

    li{
      break-inside: avoid-column;
      margin-left: 30px;
      margin-bottom: 0;
      padding-bottom: $vertical-rythm;
    }

    @include tablet(){
      column-count: 2;
    }

    @include mobile(){
      column-count: 1;
    }
  }

  .btn-primary{
    margin-top: $vertical-rythm;
  }

  .section{
    margin-bottom: 0;
  }
}


/*How it works*/

.blocks-wrap{
  margin: $vertical-rythm * 2 0;
}

.blocks{
  column-count: 3;
  column-gap: 60px;
  position: relative;
  z-index: 10;
  overflow: hidden;

  .blocks-i{
    display: flex;
    align-items: center;

    position: relative;
    z-index: 1;

    background-color: #fff;
    border: 2px solid $color-gray-2;
    border-radius: 4px;

    font-size: 16px;
    line-height: $scale-small;
    color: $color-gray-1;

    box-sizing: border-box;
    height: 90px;
    padding: 20px;
    margin-bottom: $vertical-rythm * 2;

    .blocks-i_n{
      font: bold 40px/1 #{$font-family-second};
      margin-right: 20px;
      color: $color-gray-2;
    }

    &.active{
      font-weight: bold;
      border-color: $color-blue-4;

      .blocks-i_n{
        color: $color-blue-4;
      }
    }
  }


  &:after{
    content: "";
    position: absolute;
    background-color: $color-gray-2;
    z-index: 0;

    left: 0;
    right: 0;
    top: 50%;
    margin-top: -1px - $vertical-rythm;
    height: 2px;
    
  }

  @include min_tablet(){
    &:last-child .blocks-i{
      margin-bottom: 0;
    }
  }

  @include max_tablet(){

    column-count: 1;

    .blocks-i{
      margin-bottom: $vertical-rythm;
    }

    &:last-child .blocks-i:last-child{
      margin-bottom: 0;
    }

    &:after{
      left: 50%;
      top: 0;
      bottom: 0;

      width: 2px;
      height: auto;

      margin-left: -1px;
    }
  }

}

/*======== END OF ELEMENTS =========*/





/*======== PAGE INDEX =========*/

#about{
  background-image: image-url('banners/banner2.jpg');
  padding: $vertical-rythm 0;
  min-height: 320px;
  box-sizing: border-box;

  .setw{
    padding-top: $vertical-rythm;
    padding-bottom: $vertical-rythm;
  }
}

#{$modernizr-nobackdropfilter}{

  #about .banner_fore{
    
    &:before{
        background-image: image-url('banners/banner2.jpg');
    }
  }
        
}

#services{
  .textSection{
    text-align: center;
  }

  .IconsTexts a:first-child{
      height: 127px;
  }

}

/*======== END OF PAGE INDEX =========*/


/*======== SERVICES =========*/
.p-service{

  // main[role="main"]{
  //    @include mobile(){
  //     padding-top: $vertical-rythm * 3 !important;
  //   }
  // }

  .banner_fore{
    &, &:after{
      background: none;
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
    }

    .setw{
      max-width: 700px;
    }
  }

  .banner_back{
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;

      @extend %banner_image;
    }

    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: rgba($color-blue-2, .4);
      backdrop-filter:  blur(2px);
      -webkit-backdrop-filter:  blur(2px);
    }
  }

  #banner_arrow{
    z-index: 10;
  }

  #banner-inside_text{
    font: 30px/#{$scale-small} #{$font-family-second};
    margin: $vertical-rythm*2 0;
  }


  &#{$modernizr-nobackdropfilter}{
    .banner_back:before{
       filter:  blur(2px);
        -webkit-filter:  blur(2px);
    }
  }
}


.service-1 .banner_back:before { background-image: image-url('banners/banner_service_1.jpg'); }
.service-2 .banner_back:before { background-image: image-url('banners/banner_service_2.jpg'); background-position: 0 50%; }
.service-3 .banner_back:before { background-image: image-url('banners/banner_service_3.jpg'); }
.service-4 .banner_back:before { background-image: image-url('banners/banner_service_4.jpg'); }


/*======== END OF SERVICES =========*/


/*======== CONTACTS =========*/
.p-contacts{
  .grid:last-child .grid-3{
    margin-bottom: 0;
  }
}
/*======== END OF CONTACTS =========*/



/*------- OVERSTYLES | ETO DOLJNO BIT V SAMOM NIZU --------*/