extends extends/layout.jade
include includes/mixins.jade

block html
	- var pageclass = 'p-text'

block head
	- var pageTitle = 'О компании'

block content
	+menu()

	main(role="main").marginBotFix
		+OldBrowserMsg()

		#main__container
			.setw
				h1 О компании
				p 
					| Мы предлагаем 
					a(href="services.html") разовые услуги
					| &nbsp;и&nbsp;
					a(href="solutions.html") законченные решения
					| &nbsp;по проектированию, монтажу и вводу в эксплуатацию всего комплекса инженерных систем объектов промышленного и гражданского назначения (холодильные системы и агрегаты, системы управления климатом, вентиляция, электричество, освещение), комплексные решения по мониторингу и диспетчеризации объектов.

				h2 Наши клиенты

				ul.t-bold
					li Автомобильный завод в Шушарах (г.Санкт-Петербург)
					li Завод 20АРЗ (г. Пушкин)
					li Форейт (системы “умный дом”) (г. Санкт-Петербург)
					li Сеть ресторанов Чаплин (г. Санкт-Петербург)
					li Проектное бюро Декор (Шесть распределенных офисов, три в Пушкине, три в Санкт-Петербурге)
					li ООО «Классика»
					li ООО "Декор"
					li ООО "КэйДиДиАйРус"
					li Японское консульство в г.Санкт-Петербуре
					li ООО "Юникосметик"