extends extends/layout.jade
include includes/mixins.jade

block html
	- var pageclass = 'p-text'

block head
	- var pageTitle = 'О компании'

block content
	+menu()

	main(role="main").marginBotFix
		+OldBrowserMsg()

		#main__container
			.setw
				h1 О компании
				p 
					| Мы предлагаем 
					a(href="services.html") разовые услуги
					| &nbsp;и&nbsp;
					a(href="solutions.html") законченные решения
					| &nbsp;по проектированию, монтажу и вводу в эксплуатацию всего комплекса инженерных систем объектов промышленного и гражданского назначения (холодильные системы и агрегаты, системы управления климатом, вентиляция, электричество, освещение), комплексные решения по мониторингу и диспетчеризации объектов.

				h2 Лицензии

				#gallery-1.gallery.galleryid-5.gallery-columns-5.gallery-size-medium
					figure.gallery-item
						.gallery-icon.portrait
							a(href="http://sm-logic.ru/wp-content/uploads/2016/10/CCI14122016.jpg", rel="fancybox").fancybox
								img(width="280",height="400",src="http://sm-logic.ru/wp-content/uploads/2016/10/CCI14122016-280x400.jpg", srcset="http://sm-logic.ru/wp-content/uploads/2016/10/CCI14122016-280x400.jpg 280w, http://sm-logic.ru/wp-content/uploads/2016/10/CCI14122016-175x250.jpg 175w, http://sm-logic.ru/wp-content/uploads/2016/10/CCI14122016-768x1095.jpg 768w, http://sm-logic.ru/wp-content/uploads/2016/10/CCI14122016-718x1024.jpg 718w, http://sm-logic.ru/wp-content/uploads/2016/10/CCI14122016.jpg 1600w", sizes="(max-width: 280px) 100vw, 280px")
					figure.gallery-item
						.gallery-icon.portrait
							a(href="http://sm-logic.ru/wp-content/uploads/2016/10/CCI14122016.jpg", rel="fancybox").fancybox
								img(width="280",height="400",src="http://sm-logic.ru/wp-content/uploads/2016/10/CCI14122016-280x400.jpg", srcset="http://sm-logic.ru/wp-content/uploads/2016/10/CCI14122016-280x400.jpg 280w, http://sm-logic.ru/wp-content/uploads/2016/10/CCI14122016-175x250.jpg 175w, http://sm-logic.ru/wp-content/uploads/2016/10/CCI14122016-768x1095.jpg 768w, http://sm-logic.ru/wp-content/uploads/2016/10/CCI14122016-718x1024.jpg 718w, http://sm-logic.ru/wp-content/uploads/2016/10/CCI14122016.jpg 1600w", sizes="(max-width: 280px) 100vw, 280px")

				h2 Наши клиенты

				#gallery-2.gallery.galleryid-5.gallery-columns-5.gallery-size-medium
					figure.gallery-item
						.gallery-icon.landscape
							img(width="170",height="152",src="http://sm-logic.ru/wp-content/uploads/2016/10/провими.png",alt="Волосовский комбикормовый завод (Провими-Волосово)",aria-describedby="gallery-2-226",srcset="http://sm-logic.ru/wp-content/uploads/2016/10/провими.png 170w, http://sm-logic.ru/wp-content/uploads/2016/10/провими-100x89.png 100w",sizes="(max-width: 170px) 100vw, 170px").attachment-medium.size-medium

						figcaption.wp-caption-text.gallery-caption Волосовский комбикормовый завод (Провими-Волосово)


					figure.gallery-item
						.gallery-icon.landscape
							img(width="141",height="152",src="http://sm-logic.ru/wp-content/uploads/2016/10/20_arz_logo.jpg",alt="20-й Авиаремонтный завод",aria-describedby="gallery-2-220",srcset="http://sm-logic.ru/wp-content/uploads/2016/10/20_arz_logo.jpg 141w, http://sm-logic.ru/wp-content/uploads/2016/10/20_arz_logo-93x100.jpg 93w",sizes="(max-width: 141px) 100vw, 141px").attachment-medium.size-medium

						figcaption.wp-caption-text.gallery-caption 20-й Авиаремонтный завод
				
					figure.gallery-item
							.gallery-icon.landscape
								img(width="300",height="153",src="http://sm-logic.ru/wp-content/uploads/2016/10/KDDI-Logo-300x153-1.png" , alt="KDDI Corporation — японская телекоммуникационная компания").attachment-medium.size-medium

							figcaption.wp-caption-text.gallery-caption Corporation — японская телекоммуникационная компания

					figure.gallery-item
							.gallery-icon.landscape
								img(width="296" height="283" src="http://sm-logic.ru/wp-content/uploads/2016/10/spbgu_logo2.jpg").attachment-medium.size-medium

					figure.gallery-item
							.gallery-icon.landscape
								img(width="400", height="239", src="http://sm-logic.ru/wp-content/uploads/2016/10/мыс-1-400x239.jpg", srcset="http://sm-logic.ru/wp-content/uploads/2016/10/мыс-1-400x239.jpg 400w, http://sm-logic.ru/wp-content/uploads/2016/10/мыс-1-768x459.jpg 768w, http://sm-logic.ru/wp-content/uploads/2016/10/мыс-1-1024x612.jpg 1024w, http://sm-logic.ru/wp-content/uploads/2016/10/мыс-1.jpg 1147w", sizes="(max-width: 400px) 100vw, 400px").attachment-medium.size-medium

							figcaption.wp-caption-text.gallery-caption Элитный жилой комплекс

					figure.gallery-item
							.gallery-icon.landscape
								img(width="400", height="300", src="http://sm-logic.ru/wp-content/uploads/2016/10/toyota_logo_1-400x300.jpg" class="attachment-medium size-medium", srcset="http://sm-logic.ru/wp-content/uploads/2016/10/toyota_logo_1-400x300.jpg 400w, http://sm-logic.ru/wp-content/uploads/2016/10/toyota_logo_1-768x576.jpg 768w, http://sm-logic.ru/wp-content/uploads/2016/10/toyota_logo_1-1024x768.jpg 1024w, http://sm-logic.ru/wp-content/uploads/2016/10/toyota_logo_1.jpg 1280w", sizes="(max-width: 400px) 100vw, 400px").attachment-medium.size-medium

				


				ul.t-bold
					li Автомобильный завод в Шушарах (г.Санкт-Петербург)
					li Завод 20АРЗ (г. Пушкин)
					li Форейт (системы “умный дом”) (г. Санкт-Петербург)
					li Сеть ресторанов Чаплин (г. Санкт-Петербург)
					li Проектное бюро Декор (Шесть распределенных офисов, три в Пушкине, три в Санкт-Петербурге)
					li ООО «Классика»
					li ООО "Декор"
					li ООО "КэйДиДиАйРус"
					li Японское консульство в г.Санкт-Петербуре
					li ООО "Юникосметик"