extends extends/layout.jade
include includes/mixins.jade

block html
	- var pageclass = 'p-service service-1'

block head
	- var pageTitle = 'Проектирование, монтаж, обслуживание систем защиты зданий'

block content
	+menu()

	#scrn-1
		
		.banner_back
			.banner_fore
				.setw
					#banner-inside_text
						h1 Проектирование, монтаж, обслуживание систем защиты зданий

					.t-center
						a.btn-primary(href="#") Сделать запрос на КП

			#banner_arrow
				a(href="#")
					span.sprite-arrow
	

	main(role="main").marginBotFix
		.section.setw
			h3 Направления нашей деятельности по обеспечению защиты зданий:

			.FontIconsTexts.grid
				.grid-3
					.FontIconsTexts-title
						.i-camera
						p
							strong Охранное и технологическое видеонаблюдение
					.FontIconsTexts-text
						p В том числе монтаж стационарных, поворотных, уличных и внутренних камер, камер скрытого наблюдения, КЭШ контроля.
				
				.grid-3
					.FontIconsTexts-title
						.i-alarm
						p
							strong Охранная и тревожная сигнализация
					.FontIconsTexts-text
						p В том числе защита кровли, защита периметра.
				
				.grid-3
					.FontIconsTexts-title
						.i-barrier
						p
							strong Контроль и управление доступом
					.FontIconsTexts-text
						p В том числе монтаж турникетов, триподов, распашных калиток, шлагбаумов, приводов распашных и откатных ворот.
				
				.grid-3
					.FontIconsTexts-title
						.i-gate
						p
							strong Металлообнаружение
					.FontIconsTexts-text
						p В том числе подбор оборудования для обнаружения металлических элементов.


		.section.section-gray
			.setw
				h3 Выполняем комплексные и разовые работы по организации безопасности:

				ul
					li Разработка системы защиты здания
					li Согласование с охранным предприятием
					li Подбор оборудования
					li Авторский надзор за производством работ
					li Пусконаладочные работы по всем системам безопасности
					li Обучение персонала работе с оборудованием
					li Техническое обслуживание

				.t-center
					a.btn-primary(href="#") Получить бесплатную консультацию

		+howItWorks()
		