extends extends/layout.jade
include includes/mixins.jade

block html
	- var pageclass = 'p-service service-4'

block head
	- var pageTitle = 'Работы по системам передачи данных, телефонии, системам КТВ'

block content
	+menu()

	#scrn-1
		
		.banner_back
			.banner_fore
				.setw
					#banner-inside_text
						h1 Работы по системам передачи данных, телефонии, системам КТВ

					.t-center
						a.btn-primary(href="#") Сделать запрос на КП

			#banner_arrow
				a(href="#")
					span.sprite-arrow
	

	main(role="main").marginBotFix
		.section.setw
			h3 Направления деятельности:

			.FontIconsTexts.grid
				.grid-3
					.FontIconsTexts-title
						.i-networking
						p
							strong Структурированные кабельные сети (СКС/SCN)
					.FontIconsTexts-text
				
				.grid-3
					.FontIconsTexts-title
						.i-laptopConnect
						p
							strong Сеть КТВ с возможностью использования обратного канала
					.FontIconsTexts-text
				
				.grid-3
					.FontIconsTexts-title
						.i-wifi
						p
							strong Телефонные и радио- сети
					.FontIconsTexts-text
				
				.grid-3
					.FontIconsTexts-title
						.i-server
						p
							strong Система передачи данных (активное сетевое оборудование, серверное оборудование)
					.FontIconsTexts-text

				.grid-3
					.FontIconsTexts-title
						.i-internetSocket
						p
							strong Волоконно-оптические линии связи и волоконно-оптические системы передачи (ВОЛС и ВОСП)
					.FontIconsTexts-text



		.section.section-gray
			.setw
				h3 Выполняем комплексные и разовые работы:

				ul
					li Подготовка полного технического задания для разработки проекта единой сети передачи данных с использованием современных технологий
					li Монтажные работы
					li Поставка и настройка оборудования
					li Администрирование системы, настройка протоколов передачи данных, настройка сервисов локальной сети, настройка АТС
					li Прокладка волоконно-оптических линий связи, сварка, монтаж кроссов, выдача протоколов замеров
				.t-center
					a.btn-primary(href="#") Получить бесплатную консультацию

					
		+howItWorks
		