extends extends/layout.jade
include includes/mixins.jade

//- block html
//- 	- var pageclass = 'p-text'

block head
	- var pageTitle = 'Комплексные решения для вашего бизнеса'

block content
	+menu()

	main(role="main").marginBotFix
		.setw
			h1 Комплексные решения для вашего бизнеса
			p Мы предлагаем законченные решения по проектированию, монтажу и вводу в эксплуатацию всего комплекса инженерных систем объектов промышленного и гражданского назначения (холодильные системы и агрегаты, системы управления климатом, вентиляция, электричество, освещение), комплексные решения по мониторингу и диспетчеризации объектов.

			.tabs.section
				.IconsTexts.grid.tab-line
					.grid-4
						.tab_tog
							a(href="#")
								span.sprite-circus
							a.tab_tog__text(href="#") Торговые и бизнес центры, стадионы и концертные площадки
							a(href="#").i-arrow

						.tab_text
							p Торговые центры, спортивные комплексы, стадионы – сложные объекты: большие потоки людей, энергопотребления, высокие требования к освещению и звукооснащению, билетно-кассовые системы. Все это накладывает строгие условия для организации эксплуатации инженерных систем в объектах подобного типа.

							p Наши специалисты могут предложить вам комплесные решения по внедрению современных технологий для автоматизации и диспетчеризации  объекта.

							p В ряде случаев возможно исполнение функций генподрядчика.

					.grid-4
						.tab_tog
							a(href="#")
								span.sprite-houses
							a.tab_tog__text(href="#") Жилые комплексы, коттеджи, квартиры
							a(href="#").i-arrow

						.tab_text text 2

					.grid-4
						.tab_tog
							a(href="#")
								span.sprite-factory
							a.tab_tog__text(href="#") Предприятия, производства, склады
							a(href="#").i-arrow

						.tab_text text 3

					.grid-4
						.tab_tog
							a(href="#")
								span.sprite-music
							a.tab_tog__text(href="#") Масштабные мероприятия
							a(href="#").i-arrow

						.tab_text text 4

				.tab-content
					noscript
						p.t-center.t-red Включите, пожалуйста, JavaScript в настройках вашего браузера



		.section-gray
			+howItWorks
		