//FOOTER
footer(role='contentinfo')
	
	include mixins.jade
	
	+fancyboxes()
	
	#footer-map
		#footer-map_title г. Санкт-Петербург, БЦ «Арка»
		| <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8002.546745752809!2d30.42005081307065!3d59.90498019524763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46962e2c25c2233b%3A0x86cb5b12fe9e0d25!2z0L_RgNC-0YHQvy4g0J7QsdGD0YXQvtCy0YHQutC-0Lkg0J7QsdC-0YDQvtC90YssIDUxLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkyMDI5!5e0!3m2!1sru!2sru!4v1475665042431" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

	#footer-bottom
		a#footer-bottom_logo(href="#")
			img(alt="sm-logic", src="assets/i/smlogic-logo.png")