mixin menu()
	#header-nav
		.setw
			a#nav-logo.sprite-logoSymbol(href="index.html")

			ul#header-nav_menu
				li: a(href="#") О компании
				//- li: a(href="#") Наши проекты

				li.parent
					a(href="#") Услуги

					ul
						li: a(href="service_1.html") Системы безопасности
						li: a(href="#") Пожарные системы
						li: a(href="#") Системы связи
						li: a(href="#") Телекоммуникационные системы
				
				li: a(href="#") Решения
				li: a(href="#") Контакты
				li#header-nav_menu__close: a(href="#") Закрыть меню


			div#nav-menu.flexmenu
				a#header-menuTogl.header-nav_btn(href="#")
					span.sprite-menu

				a.header-nav_btn(href="#")
					span.sprite-phone


mixin howItWorks()
	.section.setw
		h3 Как мы работаем

		.t-center
			a.btn-primary(href="#") Оставить заявку


mixin fancyboxes()
	p(style="display:none") rr