mixin menu()
	#header-nav__container
		#header-nav
			.setw
				a#nav-logo(href="index.html")
					span.i-logo

				ul#header-nav_menu
					li: a(href="about.html") О компании

					li.parent
						a.parent-tog(href="services.html") Услуги

						ul
							li: a(href="service_1.html") Системы безопасности
							li: a(href="service_2.html") Пожарные системы
							li: a(href="service_3.html") Системы связи
							li: a(href="service_4.html") Телекоммуникационные системы
					
					li: a(href="solutions.html") Решения
					li: a(href="contacts.html") Контакты


				div#nav-toggles
					#nav-toggles__menu.header-nav_btn.slide__wrap(tabindex="1")
						a.roundSwitch(href="javascript:;")
							span.i-menu

						.slide
							.slide__content
								ul#header-nav_menu_mobile
									li: a(href="about.html") О компании

									li.parent
										a(href="services.html") Услуги

										ul
											li: a(href="service_1.html") Системы безопасности
											li: a(href="service_2.html") Пожарные системы
											li: a(href="service_3.html") Системы связи
											li: a(href="service_4.html") Телекоммуникационные системы
									
									li: a(href="solutions.html") Решения
									li: a(href="contacts.html") Контакты
								a.slide__close(href="javascript:;", tabindex="1") Закрыть окно



					#nav-toggles__phone.header-nav_btn.slide__wrap(tabindex="1")
						a.roundSwitch(href="javascript:;")
							span.i-phone
			
						.slide
							.slide__content
								#nav-toggles__phone__c
									a.nav__phone(href="tel:+78123361695") +7(812)336-16-95
									p
										| Консультация по телефону
										br/
										| Пн-Пт   10.00 - 18.00 по московскому времени

									form(tabindex="-1")
										label.wrap__inp_block
											input.inp-block(type="text", placeholder="Ваш телефон")
										label.wrap__inp_block
											input.inp-block(type="text", placeholder="Ваше имя")
										input.inp-block(type="submit", value="Заказать обратный звонок")


								a.slide__close(href="javascript:;", tabindex="1") Закрыть окно




mixin OldBrowserMsg()
	//[if lte IE 9]><div id="oldiebrowser"><h1>Уважаемый пользователь, вы используете сильно устаревшую версию браузера</h1><p>Для полнценной и более приятной работы с нашим сайтом, пожалуйста, обновите свой браузер до новой версии. Или скачайте новую версию браузера другой компании из официальных источников (например, Google Chrome, Yandex браузер, Mozilla Firefox).</p></div><![endif]



mixin howItWorks()

	.section.setw
		h3 Как мы работаем

		.blocks-wrap
			.blocks
				.blocks-i.active
					.blocks-i_n 1
					.blocks-i_t Ваш звонок или 
						a.fancybox(href="#fbx-appl") заявка на сайте
				.blocks-i
					.blocks-i_n 2
					.blocks-i_t Пишем техническое задание
				.blocks-i
					.blocks-i_n 3
					.blocks-i_t Подписываем договор


			.blocks
				.blocks-i
					.blocks-i_n 4
					.blocks-i_t Производим работы в соответствии с ТЗ и договором
				.blocks-i
					.blocks-i_n 5
					.blocks-i_t Проводим технадзор
				.blocks-i
					.blocks-i_n 6
					.blocks-i_t Сдаем объект

		.t-center
			a.btn-primary.fancybox(href="#fbx-appl") Оставить заявку


mixin fancyboxes()
	#fbx-appl.fbx-w(style="display:none")
		h3 Оставьте завку
		p.t-center Наш менеджер свяжется с вами

		form
			label.wrap__inp_block
				input.inp-block(type="text", placeholder="Ваше имя")
			label.wrap__inp_block
				input.inp-block(type="text", placeholder="Телефон")
			label.wrap__inp_block
				textarea.inp-block(placeholder="Сообщение (необязательно)")
			input.inp-block(type="submit", value="Отправить")