mixin menu()
	#header-nav
		.setw
			//- a#nav-logo.sprite-logoSymbol(href="index.html")
			a#nav-logo(href="#")
				span.i-logo

			ul#header-nav_menu
				li: a(href="about.html") О компании
				//- li: a(href="#") Наши проекты

				li.parent
					a(href="services.html") Услуги

					ul
						li: a(href="service_1.html") Системы безопасности
						li: a(href="service_2.html") Пожарные системы
						li: a(href="service_3.html") Системы связи
						li: a(href="service_4.html") Телекоммуникационные системы
				
				li: a(href="solutions.html") Решения
				li: a(href="contacts.html") Контакты
				li#header-nav_menu__close: a(href="#") Закрыть меню


			div#nav-menu.flexmenu
				a#header-menuTogl.header-nav_btn(href="#")
					span.sprite-menu

				a#header-phone_tog.header-nav_btn(href="#")
					span.i-phone


mixin howItWorks()

	.section.setw
		h3 Как мы работаем

		.blocks-wrap
			.blocks
				.blocks-i.active
					.blocks-i_n 1
					.blocks-i_t Ваш звонок или 
						a(href="#") заявка на сайте
				.blocks-i
					.blocks-i_n 2
					.blocks-i_t Пишем техническое задание
				.blocks-i
					.blocks-i_n 3
					.blocks-i_t Подписываем договор


			.blocks
				.blocks-i
					.blocks-i_n 4
					.blocks-i_t Производим работы в соответствии с ТЗ и договором
				.blocks-i
					.blocks-i_n 5
					.blocks-i_t Проводим технадзор
				.blocks-i
					.blocks-i_n 6
					.blocks-i_t Сдаем объект

		.t-center
			a.btn-primary(href="#") Оставить заявку


mixin fancyboxes()
	p(style="display:none") rr