@font-face {
	font-family: "CustomIcons";
	src: url('../fonts/CustomIcons.eot');
	src: url('../fonts/CustomIcons.eot?#iefix') format('eot'),
		url('../fonts/CustomIcons.woff') format('woff'),
		url('../fonts/CustomIcons.ttf') format('truetype'),
		url('../fonts/CustomIcons.svg#CustomIcons') format('svg');
}

@mixin icon-styles {
	font-family: "CustomIcons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	display: inline-block;
	line-height: 1;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == alarm {
		$char: "\E001";
	}
	@if $filename == arrow {
		$char: "\E002";
	}
	@if $filename == barrier {
		$char: "\E003";
	}
	@if $filename == camera {
		$char: "\E004";
	}
	@if $filename == disabled {
		$char: "\E005";
	}
	@if $filename == firealarm {
		$char: "\E006";
	}
	@if $filename == firefight {
		$char: "\E007";
	}
	@if $filename == firewater {
		$char: "\E008";
	}
	@if $filename == gate {
		$char: "\E009";
	}
	@if $filename == hood {
		$char: "\E00A";
	}
	@if $filename == horn {
		$char: "\E00B";
	}
	@if $filename == internetSocket {
		$char: "\E00C";
	}
	@if $filename == laptopConnect {
		$char: "\E00D";
	}
	@if $filename == logo {
		$char: "\E00E";
	}
	@if $filename == menu {
		$char: "\E00F";
	}
	@if $filename == networking {
		$char: "\E010";
	}
	@if $filename == phone {
		$char: "\E011";
	}
	@if $filename == radio {
		$char: "\E012";
	}
	@if $filename == server {
		$char: "\E013";
	}
	@if $filename == technology {
		$char: "\E014";
	}
	@if $filename == time {
		$char: "\E015";
	}
	@if $filename == wifi {
		$char: "\E016";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	@extend %icon;
	
	&:#{$insert} {
		content: icon-char($filename);
	}
}

.i-alarm {
	@include icon(alarm);
}
.i-arrow {
	@include icon(arrow);
}
.i-barrier {
	@include icon(barrier);
}
.i-camera {
	@include icon(camera);
}
.i-disabled {
	@include icon(disabled);
}
.i-firealarm {
	@include icon(firealarm);
}
.i-firefight {
	@include icon(firefight);
}
.i-firewater {
	@include icon(firewater);
}
.i-gate {
	@include icon(gate);
}
.i-hood {
	@include icon(hood);
}
.i-horn {
	@include icon(horn);
}
.i-internetSocket {
	@include icon(internetSocket);
}
.i-laptopConnect {
	@include icon(laptopConnect);
}
.i-logo {
	@include icon(logo);
}
.i-menu {
	@include icon(menu);
}
.i-networking {
	@include icon(networking);
}
.i-phone {
	@include icon(phone);
}
.i-radio {
	@include icon(radio);
}
.i-server {
	@include icon(server);
}
.i-technology {
	@include icon(technology);
}
.i-time {
	@include icon(time);
}
.i-wifi {
	@include icon(wifi);
}
