@font-face {
	font-family: "CustomIcons";
	src: url('../fonts/CustomIcons.eot');
	src: url('../fonts/CustomIcons.eot?#iefix') format('eot'),
		url('../fonts/CustomIcons.woff') format('woff'),
		url('../fonts/CustomIcons.ttf') format('truetype'),
		url('../fonts/CustomIcons.svg#CustomIcons') format('svg');
}

@mixin icon-styles {
	font-family: "CustomIcons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	display: inline-block;
	line-height: 1;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == alarm {
		$char: "\E001";
	}
	@if $filename == arrow {
		$char: "\E002";
	}
	@if $filename == barrier {
		$char: "\E003";
	}
	@if $filename == camera {
		$char: "\E004";
	}
	@if $filename == cold {
		$char: "\E005";
	}
	@if $filename == connect {
		$char: "\E006";
	}
	@if $filename == disabled {
		$char: "\E007";
	}
	@if $filename == electricity {
		$char: "\E008";
	}
	@if $filename == firealarm {
		$char: "\E009";
	}
	@if $filename == firefight {
		$char: "\E00A";
	}
	@if $filename == firewater {
		$char: "\E00B";
	}
	@if $filename == gate {
		$char: "\E00C";
	}
	@if $filename == heat {
		$char: "\E00D";
	}
	@if $filename == heatTech {
		$char: "\E00E";
	}
	@if $filename == heater {
		$char: "\E00F";
	}
	@if $filename == hood {
		$char: "\E010";
	}
	@if $filename == horn {
		$char: "\E011";
	}
	@if $filename == lightInside {
		$char: "\E012";
	}
	@if $filename == lightOutside {
		$char: "\E013";
	}
	@if $filename == lightStand {
		$char: "\E014";
	}
	@if $filename == logo {
		$char: "\E015";
	}
	@if $filename == menu {
		$char: "\E016";
	}
	@if $filename == microphone {
		$char: "\E017";
	}
	@if $filename == phone {
		$char: "\E018";
	}
	@if $filename == plug {
		$char: "\E019";
	}
	@if $filename == presentation {
		$char: "\E01A";
	}
	@if $filename == radio {
		$char: "\E01B";
	}
	@if $filename == settings {
		$char: "\E01C";
	}
	@if $filename == sound {
		$char: "\E01D";
	}
	@if $filename == speaker {
		$char: "\E01E";
	}
	@if $filename == spotlight {
		$char: "\E01F";
	}
	@if $filename == stadium {
		$char: "\E020";
	}
	@if $filename == technology {
		$char: "\E021";
	}
	@if $filename == telephone {
		$char: "\E022";
	}
	@if $filename == terminal {
		$char: "\E023";
	}
	@if $filename == time {
		$char: "\E024";
	}
	@if $filename == timer {
		$char: "\E025";
	}
	@if $filename == ventilation {
		$char: "\E026";
	}
	@if $filename == ventilationAir {
		$char: "\E027";
	}
	@if $filename == ventilationTech {
		$char: "\E028";
	}
	@if $filename == videoCam {
		$char: "\E029";
	}
	@if $filename == wifi {
		$char: "\E02A";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	@extend %icon;
	
	&:#{$insert} {
		content: icon-char($filename);
	}
}

.i-alarm {
	@include icon(alarm);
}
.i-arrow {
	@include icon(arrow);
}
.i-barrier {
	@include icon(barrier);
}
.i-camera {
	@include icon(camera);
}
.i-cold {
	@include icon(cold);
}
.i-connect {
	@include icon(connect);
}
.i-disabled {
	@include icon(disabled);
}
.i-electricity {
	@include icon(electricity);
}
.i-firealarm {
	@include icon(firealarm);
}
.i-firefight {
	@include icon(firefight);
}
.i-firewater {
	@include icon(firewater);
}
.i-gate {
	@include icon(gate);
}
.i-heat {
	@include icon(heat);
}
.i-heatTech {
	@include icon(heatTech);
}
.i-heater {
	@include icon(heater);
}
.i-hood {
	@include icon(hood);
}
.i-horn {
	@include icon(horn);
}
.i-lightInside {
	@include icon(lightInside);
}
.i-lightOutside {
	@include icon(lightOutside);
}
.i-lightStand {
	@include icon(lightStand);
}
.i-logo {
	@include icon(logo);
}
.i-menu {
	@include icon(menu);
}
.i-microphone {
	@include icon(microphone);
}
.i-phone {
	@include icon(phone);
}
.i-plug {
	@include icon(plug);
}
.i-presentation {
	@include icon(presentation);
}
.i-radio {
	@include icon(radio);
}
.i-settings {
	@include icon(settings);
}
.i-sound {
	@include icon(sound);
}
.i-speaker {
	@include icon(speaker);
}
.i-spotlight {
	@include icon(spotlight);
}
.i-stadium {
	@include icon(stadium);
}
.i-technology {
	@include icon(technology);
}
.i-telephone {
	@include icon(telephone);
}
.i-terminal {
	@include icon(terminal);
}
.i-time {
	@include icon(time);
}
.i-timer {
	@include icon(timer);
}
.i-ventilation {
	@include icon(ventilation);
}
.i-ventilationAir {
	@include icon(ventilationAir);
}
.i-ventilationTech {
	@include icon(ventilationTech);
}
.i-videoCam {
	@include icon(videoCam);
}
.i-wifi {
	@include icon(wifi);
}
