@font-face {
	font-family: "CustomIcons";
	src: url('../fonts/CustomIcons.eot');
	src: url('../fonts/CustomIcons.eot?#iefix') format('eot'),
		url('../fonts/CustomIcons.woff') format('woff'),
		url('../fonts/CustomIcons.ttf') format('truetype'),
		url('../fonts/CustomIcons.svg#CustomIcons') format('svg');
}

@mixin icon-styles {
	font-family: "CustomIcons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	display: inline-block;
	line-height: 1;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == alarm {
		$char: "\E001";
	}
	@if $filename == barrier {
		$char: "\E002";
	}
	@if $filename == camera {
		$char: "\E003";
	}
	@if $filename == gate {
		$char: "\E004";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	@extend %icon;
	
	&:#{$insert} {
		content: icon-char($filename);
	}
}

.i-alarm {
	@include icon(alarm);
}
.i-barrier {
	@include icon(barrier);
}
.i-camera {
	@include icon(camera);
}
.i-gate {
	@include icon(gate);
}
