$icons: (
    sprite: (width: 197.5px, height: 1877px, pngPath: '../i/sprite.png', svgPath: '../i/sprite.svg'),
    air: (width: 136.93px, height: 99.156px, backgroundX: 0px, backgroundY: 0px),
    alarm: (width: 106.016px, height: 122.585px, backgroundX: 0px, backgroundY: -100px),
    arrow: (width: 30.409px, height: 17.334px, backgroundX: 0px, backgroundY: -223px),
    arrowS: (width: 16.04px, height: 8.601px, backgroundX: 0px, backgroundY: -241px),
    camera: (width: 130.869px, height: 119.389px, backgroundX: 0px, backgroundY: -250px),
    circus: (width: 85.575px, height: 93.03px, backgroundX: 0px, backgroundY: -370px),
    control: (width: 102.87px, height: 101.984px, backgroundX: 0px, backgroundY: -464px),
    default: (width: 114.349px, height: 100.056px, backgroundX: 0px, backgroundY: -566px),
    factory: (width: 106.711px, height: 94.453px, backgroundX: 0px, backgroundY: -667px),
    houses: (width: 132.546px, height: 94.389px, backgroundX: 0px, backgroundY: -762px),
    light: (width: 114.57px, height: 114.569px, backgroundX: 0px, backgroundY: -857px),
    logoSymbol: (width: 41.144px, height: 36.001px, backgroundX: 0px, backgroundY: -972px),
    music: (width: 96.154px, height: 96.154px, backgroundX: 0px, backgroundY: -1009px),
    office: (width: 106.922px, height: 95.337px, backgroundX: 0px, backgroundY: -1106px),
    satellite: (width: 92.235px, height: 126.495px, backgroundX: 0px, backgroundY: -1202px),
    server: (width: 112.197px, height: 110.262px, backgroundX: 0px, backgroundY: -1329px),
    smLogic_dec: (width: 197.5px, height: 337.6px, backgroundX: 0px, backgroundY: -1440px),
    stadium: (width: 136.564px, height: 98.682px, backgroundX: 0px, backgroundY: -1778px),
);

$sprite: map-get($icons, sprite);


@mixin get-sprite($spritename){
    $spritename: map-get($icons, $spritename);
    
    display: inline-block;
    width: map-get($spritename, width);
    height: map-get($spritename, height);
    background-image: url(map-get($sprite, svgPath));
    background-position: map-get($spritename, backgroundX) map-get($spritename, backgroundY);
    background-repeat: no-repeat;

    #{$modernizr-nosvg} & { background-image: url(map-get($sprite, pngPath)); }
}

.sprite-air{
	@include get-sprite(air);
}
.sprite-alarm{
	@include get-sprite(alarm);
}
.sprite-arrow{
	@include get-sprite(arrow);
}
.sprite-arrowS{
	@include get-sprite(arrowS);
}
.sprite-camera{
	@include get-sprite(camera);
}
.sprite-circus{
	@include get-sprite(circus);
}
.sprite-control{
	@include get-sprite(control);
}
.sprite-default{
	@include get-sprite(default);
}
.sprite-factory{
	@include get-sprite(factory);
}
.sprite-houses{
	@include get-sprite(houses);
}
.sprite-light{
	@include get-sprite(light);
}
.sprite-logoSymbol{
	@include get-sprite(logoSymbol);
}
.sprite-music{
	@include get-sprite(music);
}
.sprite-office{
	@include get-sprite(office);
}
.sprite-satellite{
	@include get-sprite(satellite);
}
.sprite-server{
	@include get-sprite(server);
}
.sprite-smLogic_dec{
	@include get-sprite(smLogic_dec);
}
.sprite-stadium{
	@include get-sprite(stadium);
}
